
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

:root {
  --yellow-color: #fed700;
  --bg-discount: #cf5050;
  --bg-hot: #f19708;

  --max-width-main-container: 570px;
}

* {
  margin: 0;
  padding: 0;
}

body {
  overflow-x: hidden;
  font-family: 'Varela Round', sans-serif !important;
}

/* Main */
.container {
  width: 100%;
  display: flex;
  min-height: 100vh;
}

.main {
  width: 55%;
  background-color: #EFE4D3;
}

.logo img {
  height: 100px;
}

ul.breadcrumb {
  padding: 10px 16px;
  padding-left: 0;
  list-style: none;
}

ul.breadcrumb li.breadcrumb-item {
  display: inline;
  font-size: 0.85714em;
}

ul.breadcrumb li+li::before {
  color: black;
  content: "/\00a0";
}

ul.breadcrumb li.breadcrumb-item a {
  color: #0275d8;
  text-decoration: none !important;
}

ul.breadcrumb li.breadcrumb-item a:hover {
  color: #01447e;
  text-decoration: underline;
}

.breadcrumb-item-current {
  text-decoration: none;
  font-weight: 500;
  color: #4d4d4d !important;
  pointer-events: none;
  opacity: 0.5;
}

.isDisabled {
  text-decoration: none;
  color: #999999 !important;
  pointer-events: none;
  opacity: 0.5;
}

/* ========================================= MAIN CONTAINER =========================================*/
/* MAIN CONTAINER*/

.main-container {
  float: right;
  padding-right: 100px;
  padding-top: 56px;

  max-width: var(--max-width-main-container);
}

.main-content {
  /* background-color: #cf5050; */
  margin-bottom: 95px;
  margin-top: 25px;
}

/* DELIVERY INFO */

.field {
  float: left;
  box-sizing: border-box;
  outline: none;
  height: 30px;
  margin: 0 10px;
  border: none;
  border-radius: 4px;
  padding: 20px 0 20px 10px;
}

textarea.field {
  height: 62px;
  resize: vertical;
}

select.field {
  padding: 5px 0 5px 10px;
}

.field-third {
  width: 33.33333%;
}

#username {
  width: 66.66667%;
}

#phonenumber {
  width: 33.33333%;
}

#address,
#billing_note,
#email {
  width: 100%
}

.row {
  display: flex;
  margin: 15px 0;
}


/* CART AND PAYMENT BUTTON */
.main-content-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 20px 10px;
}

#btn-shoppingCart {
  display: inline-block;
  text-decoration: none;
  color: #338dbc;
  transition: color 0.2s ease-in-out;
}

#btn-payment {
  text-decoration: none;
  padding: 20px 25px;
  background-color: rgb(51, 141, 188);
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  text-align: center;
  color: white;
  outline: none;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#btn-payment:hover {
  background-color: #286f94;
}

.main-footer {
  max-width: 530px;
  padding: 1em 0;
}

ul.menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

li.menu-item {
  font-size: 0.8571428571em;
  margin-right: 1.5em;
  margin-bottom: 0.5em;
  display: inline-flex;
}

li.menu-item a {
  text-decoration: none;
  transition: color 0.2s ease-in-out;
  color: #338dbc;
}

/* PAYMENT BY */

.section-header{
  margin-bottom: 1em;
}
.section-title{
  color:#333333;
}

.payment-by,.payment-info{
  margin-top: 1.5em;
}

.paymentBy-active{
  background-color: var(--yellow-color);
  color: white;
  accent-color:red;
}

.radio-label{
  display: table-cell;
  width: 100%;
  cursor: pointer;
  vertical-align: middle;
  padding: 0.8em;
}
.radio-input{
  display: table-cell;
  padding-right: 0.75em;
  white-space: nowrap;
}
.radio-wrapper{
  display: table;
  box-sizing: border-box;
  width: 100%;
  zoom: 1;

  box-shadow: 0 0 0 1.5px #d9d9d9;
  border-top: 1px solid #d9d9d9;
  border-radius: 4px;
  margin-bottom: 10px;
  background-color: #fff;
}
.radio-label-primary{
  display: table-cell;
  width: 100%;
}

/* PAYMENT INFO */
.margin-box{
  margin: 8px;
}

.margin-box > p:first-child > img{
  max-width: var(--max-width-main-container);
}

.margin-box > p:nth-child(2){
  font-size: 1.3rem;
  font-style: italic;
}

.margin-box > p:nth-child(2),.margin-box > p:nth-child(3){
  text-align: center;
  margin: .5rem 0;
}

/* ================================================================================== */
/* SLIDEBAR SECTION */
.sidebar {
  width: 30%;
  height: 100vh;
  padding-top: 4em;
  padding-left: 4%;
}

.product-thumbnail {
  width: 4.6em;
  height: 4.6em;
  border-radius: 8px;
  background: #fff;
  position: relative;
}

.product-thumbnail-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.product-thumbnail-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.product-thumbnail-quantity {
  font-size: 0.85714em;
  font-weight: 500;
  white-space: nowrap;
  padding: 0.15em 0.65em;
  border-radius: 2em;
  background-color: rgba(153, 153, 153, 0.9);
  color: #fff;
  position: absolute;
  right: -0.75em;
  top: -0.75em;
  z-index: 2;
}

.product td.product-description {
  width: 250px;
  padding-left: 10px;
}

.product-description a {
  text-decoration: none;
}

.order-summary-emphasis {
  font-weight: 500;
  color: #4b4b4b;
}

.old-price{
  font-size: 0.9rem;
  color: #999999;
}

.badge-info {
  display: inline-block;
  padding: 0.35em 0.65em;
  font-size: .75em;
  font-weight: 500;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  margin: 2px 2px;

}

.badge-size{
  background-color: #d26e4b;
}

.badge-discount{
  background-color: var(--bg-discount);
}

.visually-hidden {
  clip: rect(0 0 0 0);
  width: 63px;
  height: 69px;
  margin: -2px;
  overflow: hidden;
  padding: 0;
  position: absolute;
}

.product td {
  padding-top: 1em
}

.product-list {
  /* background-color: #d26e4b; */
  padding-bottom: 30px;
  border-bottom: 1px solid #e1e1e1;
}

.total-line {
  display: flex;
  justify-content: space-between;
  margin: 15px 0;
}

.total-line-footer {
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}

.payment-due-price {
  color: #cf5050;
  font-size: 1.71429em;
  font-weight: 700;
  letter-spacing: -0.04em;
  /* color: #4b4b4b; */
  line-height: 1em;
}