<footer>
    <div class="footer-box">
        <div class="footer-content">
            <div class="row">
                <div class="col">
                    <div class="footer-logo">
                        <img src="/images/logoShopFooter.png" alt="">
                    </div>
                </div>
                <div class="col">
                    <div class="footer-detail">
                        <div class="row">
                            <div class="col">
                                <h6 class="footer-heading">HỖ TRỢ KHÁCH HÀNG</h6>
                                <ul class="footer-list">
                                    <li>Chăm sóc khách hàng</li>
                                    <li>Thanh toán</li>
                                    <li>BHướng dẫn mua hàng</li>
                                </ul>
                            </div>
                            <div class="col">
                                <h6 class="footer-heading">CHÍNH SÁCH</h6>
                                <ul class="footer-list">
                                    <li>Chế độ bảo hành</li>
                                    <li>Chính sách đổi hàng</li>
                                    <li>Bảo mật thông tin</li>
                                    <li>Chính sách giao nhận</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-logo-noti">
                        <img src="/images/logoSaleNoti.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copy-right">
            <div class="row">
                <div class="col-lg-10 col-md-9 col-xs-12">
                    <p class="myweb">
                        © Bản quyền thuộc về
                        <b>HAN.VN</b>
                    </p>
                    <div class="footer-news-link">
                        <a href="">Giày chạy bộ</a>
                        <a href="">Giày tập Gym</a>
                        <a href="">Giày tập Yoga</a>
                        <a href="">Giày thể thao</a>
                        <a href="">Giày chính hãng</a>
                    </div>
                </div>
                <div class="col">
                    <div class="footer-icon-media">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-youtube"></i>
                    </div>
                </div>
            </div>
        </div>

    </div>
</footer>