<!-- Subscribe Section-->
<section>
    <div class="subscribe-box">
        <div class="row">
            <div class="col">
                <b>
                    <i class="fa-solid fa-envelope"></i>
                    ĐĂNG KÝ NHẬN CODE
                </b>
            </div>
            <div class="col">
                <form action="" class="form-subscribe">
                    <input type="text" placeholder="Địa chỉ mail của bạn">
                    <button class="btn">Đăng ký</button>
                </form>
            </div>
            <div class="col">
                ...Nhận Ngay <span>VOUCHER 100k</span> từ chúng tôi.
            </div>
        </div>
    </div>
</section>